@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 131deg 62% 40%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 131deg 62% 40%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-8 font-mono text-sm font-normal text-textColor antialiased;
	}

	body {
		overflow: scroll; /* 必要に応じて scroll や auto に変更 */
	}
}

ol {
	@apply list-decimal pl-5;
}

ul {
	@apply list-disc pl-5;
}

h4 {
	@apply text-lg border-b border-black my-5;
}

h1 {
	@apply text-2xl font-semibold text-accent-2 py-2
}

h2 {
	@apply text-xl font-bold py-2;
}

/* h1, h2 のスタイル */

ul {
	@apply list-disc pl-5;
}

/* 共通のスタイル：リンクの前にファビコンを表示 */
a:is([href^="https://github.com/"], 
     [href^="https://twitter.com/"], 
     [href^="https://x.com/"], 
     [href^="https://qiita.com/"], 
	 [href^="https://www.pixiv.net/"], 
     [href^="https://dokudamichang.hatenablog.com/"])::before {
    content: '';                 /* 空のコンテンツ */
    display: inline-block;       /* 行内に配置、高さや幅を持つ */
    width: 16px;                 /* 横幅 */
    height: 16px;                /* 縦幅 */
    vertical-align: -3px;        /* 要素を下方向に3ピクセルオフセット */
    margin-right: 5px;           /* 右要素との距離 */
    background-size: contain;    /* 背景画像のサイズを要素に合わせる */
}

/* 個別リンクのファビコンを指定 */
a[href^="https://github.com/"]::before {
    background: url(http://www.google.com/s2/favicons?domain=https://github.com/);
}

a[href^="https://twitter.com/"], a[href^="https://x.com/"]::before {
    background: url(http://www.google.com/s2/favicons?domain=https://twitter.com/);
}

a[href^="https://qiita.com/"]::before {
    background: url(http://www.google.com/s2/favicons?domain=https://qiita.com/);
}

a[href^="https://dokudamichang.hatenablog.com/"]::before {
    background: url(http://www.google.com/s2/favicons?domain=https://hatena.blog/);
}

a[href^="https://www.pixiv.net/"]::before {
    background: url(http://www.google.com/s2/favicons?domain=https://www.pixiv.net/);
}

a[href^="https://"] {
	color: hsl(var(--theme-accent))
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap; /* 自動で折り返し */
}

.flex-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px; /* 各アイテムの間隔 */
}

/* メディアクエリで画面幅が768px以下の場合 */
@media (max-width: 768px) {
	.flex-container {
		flex-direction: column; /* 縦並びに変更 */
		height: auto; /* 高さを自動調整 */
	}
}

