---
interface Props {
  url: string;
}
const { url } = Astro.props;

const base = "https://publish.twitter.com/oembed";
const baseUrl = new URL(base);
baseUrl.searchParams.set("url", url);
baseUrl.searchParams.set("omit_script", "true");

const tweet = await fetch(baseUrl.toString())
  .then<{ html: string }>((res) => res.json())
  .catch((err) => null);
---

{
  tweet && (
    <>
      <div style="width: 100%; max-width: 500px; margin: auto;">
        <div set:html={tweet.html} style="overflow: hidden; width: 100%; height: auto;" />
      </div>
      <script
        async
        charset="utf-8"
        crossorigin="anonymous"
        src="https://platform.twitter.com/widgets.js"
      />
    </>
  )
}

