---
// import BaseHead from "@/components/BaseHead.astro";
// import SkipLink from "@/components/SkipLink.astro";
// import ThemeProvider from "@/components/ThemeProvider.astro";
// import Footer from "@/components/layout/Footer.astro";
// import Header from "@/components/layout/Header.astro";

const { frontmatter } = Astro.props;
const { description, ogImage, publishDate, title, updatedDate } = frontmatter;
const articleDate = new Date(updatedDate ?? publishDate).toISOString();
const socialImage = ogImage ?? `/dokudami.png`;

import "../styles/global.css";
import BaseLayout from "./Base.astro";
---

<BaseLayout meta={{ articleDate, description, ogImage: socialImage, title }} >
<div class="gap-x-10 lg:flex lg:items-start">
	
	<article class="flex-grow break-words" data-pagefind-body>
		<!-- <div
			class="prose-sm prose-cactus prose-headings:font-semibold"
		> -->
		<div
			class="
				prose-headings:pl-4 
				prose-sm 
				prose-cactus 
				prose-headings:font-semibold 
				prose-headings:text-accent-2 
				prose-headings:before:absolute 
				prose-headings:before:-ms-4 
				prose-headings:before:text-accent 
				prose-headings:before:content-['#'] 
				prose-th:before:content-none"
		>
			<slot />
		</div>
	</article>
</div>
</BaseLayout>

<!-- <html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
		<meta content="width=device-width" name="viewport" />
		<meta content={Astro.generator} name="generator" />
		<title>dokudamibox.net</title>
		<BaseHead title="dokudamibox.net">
	</head>
	<body>
        <ThemeProvider />
        <SkipLink />
        <Header />
		<div class="container">
			<slot />
		</div>
		<Footer />
	</body>
</html> -->

<style is:global>
  /* 以下、スタイル */
</style>

